
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="section-heading">
    <div class="section">
        <div class="span-title">
            <h1>About Us</h1>
            <div class="page-map"><p>Home &nbsp;/&nbsp; About Us</p></div>
        </div>
    </div>
</div>

<div class="main">

    <div class="section">
        <div class="row">
            <div class="col-md-5">
                <div class="contact-left">
                    <h6>Head Office</h6>
                    <h1>Get in touch with us</h1>
                    <p>+2348035881849</p>
                    <p> info@sakintegratedconceptltd.com</p>
                    <br>
                    <p>Opp. Kaduna State Court, Dogarawa, Sabon Gari Zaria</p>


                </div>
            </div>
            <div class="col-md-7">
                <div class="contact-right map-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.868907470937!2d7.729961614803826!3d11.123139892086813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x11b2830c9155e6b7%3A0x91f9b358e2509c5b!2sSAK%20INTERGRATED%20CONCEPT%20LTD!5e0!3m2!1sen!2sng!4v1645785691409!5m2!1sen!2sng" style="border:none; box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
                0 5px 15px 0 rgba(0,0,0,0.08);" width="100%" height="400px" allowfullscreen="" loading="lazy"></iframe>

                </div>
            </div>
        </div>

    </div>
</div>