
@{
    ViewBag.Title = "General Contracts";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="section-heading">
    <div class="section">
        <div class="span-title">
            <h1>About Us</h1>
            <div class="page-map"><p>Home &nbsp;/&nbsp; General Contracts</p></div>
        </div>
    </div>
</div>

<div class="main">
    <div class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="about-content">
                    <h3>General Contracts</h3>

                    <p>As a general contracts, our service begins with pricing. We bid out the job in predetermined packages and verify the validity of the bids using our extensive cost histories. During actual construction, we manage the day to day activity on the job, including safety, quality control and adherence to the schedule. We also provide bonging for the project and hold all subcontractor contracts, unless instructed to do otherwise by the owner. We have ability to self-perform many aspect of our work, giving us greater control over the schedule and allowing us to truly drive the project. Our expertise also extendto design-build construction. After examining the specifications of the owner, we team with a design firm that has extensive experience is similar projects. This design-build team then acts as a cohesive unit with the designer developing the building’s specifications, while we perform the constructability review.</p>
                    <p>During construction, our design-build team that acts as the single source of information for all design and construction issues. This creates a more effective line of communication between everyone involved with the project, which leads to a more successful project delivery system.</p>
                    <h6>Strategic partner </h6>
                    <p>As a strategic partner, we operate as an extensive of our client’s own staff, overseeing both project construction and facilities management. Within this role, we create a “construction program” in which we manage design review, budgeting, scheduling, quality control, safety, and security as well as any other client requested items. This project delivery method is best suited for an organization with multiple project or facility because it provides a consistent, measurable program through every phase of the construction process which can be extended to any location or facility. Frontline’s culture is one of collaboration and cooperation. This culture provides us with the ability to listen to our clients, subcontractor and vendors in an effort to discover the best means possible to provide the team with an outstanding construction experience. This ability to listen enables us to maintain successful working relationship with clients, subcontractors and vendors while implementing cutting-edge technology on our projects.</p>
                    <p>Our such innovation is the use of building information modeling (BIM). Our team has extensive project experience and clearly understands the value that BIM can add to our outcome of a project. Our team’s expertise will benefit the project’s planning and construction management process – from the pre-bid phase through the commissioning phase. This is accomplished by executing a properly guided team approach and by harvesting and transforming the data embedded in BIM models into valuable information. BIM can be utilized through the full life cycle of a project.</p>
                    <h6>Capability Statement  </h6>
                    <p>SAK INTEGRATED CONCEPT LIMITED  is a commercial and residential company that performs renovations, painting, re-modeling civil works and facilities maintenance in Nigeria. Since our inception, we have performed for old mutual properties, city councils, property managers, commercial retailers and numerous home owner  in the most professional  and effective manner, turning in projects on time and on budget. Our core capabilities are self-performing, rough and finished carpentry, boundary walls, painting, flooring, tiling, installations and electrical works, and providing general contracting service for medium to large size projects. </p>
                    <h6>General supply</h6>
                    <p>SAK INTEGRATED CONCEPT LIMITED has met the challenges of civil/ building, electrical engineering, general supply demands by providing efficient supply and delivery solution to its client under a single point of contact and responsibility.</p>
                    <p>SCOPE OF OPERATION:SAK INTEGRATED CONCEPT LIMITED engage in supplying of require items to ministries, parastatals and other corporate organization, the company specializes in the sales, service, maintains and supplies of the following items:</p>
                    <ul>
                        <li>Office furniture</li>
                        <li>Computers</li>
                        <li>Computer accessories</li>
                        <li>Supplies of HP printer, inks and cartridges</li>
                        <li>Installation of computers and maintenances</li>
                        <li>Supplies of diskette and flash disks</li>
                        <li>Telecommunication equipment</li>
                        <li>Installation to telecommunication mask and radio (HP)</li>
                        <li>Classifies stationary materials.</li>
                        <li>Professional printing jobs</li>
                    </ul>
                    <h6>Furniture</h6>
                    <p> SAK INTEGRATED CONCEPT LIMITED represent world leader in supplying and procurement of home, office, and business equipment in conjunction with its overseas partners. SAK INTEGRATED CONCEPT LIMITED has established of its years of operation a reputation of outstanding quality in supplying and procurement of equipment. As a service – oriented company, we provide a complete ‘service package’ from the ideas, to the planning of interior decoration, to the supply and installation of furniture and accessories. Our consulting and planning team provide you with the most innovative design and production techniques, which give you the competitive edge that you demand in today’s change market.</p>
                    <p>We Provide Complete Solution for:</p>
                    <p>DOORS, WARDROBES, and KITCHENS: including a wide range of design and sizes designed to fit any requirement for building contractors.</p>
                    <p>
                        HOME; including fabric and leather sofa sets, sofa beds, reclines, TV cabinets, dining sets, bedrooms, kitchens, comfort chairs (reclining/message), carpets and rugs, Lightings and accessories, kitchen appliance and home electronics.
                    </p>
                    <p>OFFICE; including modular office sets, executive office sets, conference tables, filling systems, stationary and more.</p>
                    <p>School & Libraries</p>
                    <p>BANQUET and related common areas.</p>
                    <p>HOTEL rooms. Hallways, lobbies, and reception areas.</p>
                    <p>These furniture solutions may include pre-designed furniture collection as well as custom designed furniture.</p>
                </div>
            </div>

        </div>
    </div>
</div>

