<div class="footer">
    <!-- MAIN FOOTER -->
    <div class="main">
        <div class="section">
            <div class="row">
                <div class="col-md-5 left-column">
                    <div class="footer-logo"><img src="~/Content/NewFront/img/master/saklogo.png" alt=""></div>
                    <div class="about-footer">
                        <p>K INTEGRATED CONCEPT LIMITED is a firm of Nigeria consortium of engineers established to provide a professional practice embracing the full range of activities in building and civil engineering works</p>
                    </div>
                    <div class="social-footer">
                        <h6>Follow Us</h6>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></div>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></div>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></div>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-dribbble" aria-hidden="true"></i></div></a></div>
                    </div>
                </div>
                <div class="col-md-3 center-column">
                    <div class="footer-categories">
                        <h6>Our Services</h6>
                        <div class="categories-list">
                            <div class="categoties-items"><a href="1-agency.html">Construction Works</a></div>
                            <div class="categoties-items"><a href="2-beauty.html">Electrification / Solar Power</a></div>
                            <div class="categoties-items"><a href="3-construction.html">Borehole</a></div>
                            <div class="categoties-items"><a href="4-corporate.html">Procurement</a></div>
                            <div class="categoties-items"><a href="5-courier.html">Supply/Installation</a></div>
                            <div class="categoties-items"><a href="6-dealer.html">General Contracts</a></div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4 right-column">
                    <div class="subscribe-footer">
                        <h6>NEWSLETTER</h6>
                        <p>Suscribe to our newsletter and get the lastest scoop right to your inbox!</p>
                        <div class="newsletter-box">
                            <form action="#" method="post" name="sign-up">
                                <input type="email" class="input" id="email" name="email" placeholder="Your email address" required>
                                <input type="submit" class="button" id="submit" value="SIGN UP">
                            </form>
                        </div>
                        <p class="cursive">Your email is safe with us, we don't spam.</p>
                    </div>
                </div>
            </div>
            <hr class="line-footer">
            <div class="bottom-footer">
                <div class="left-footer">
                    <p>© 2022 SAK Integrated Concept LTD</p>
                </div>
                <div class="right-footer">
                    <p><a href="about-style-1.html">About</a> &nbsp;/&nbsp; <a href="#">Privacy & Policy</a> &nbsp;/&nbsp; <a href="contact-style-1.html">Contact Us</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>